{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Estilo_Login.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Recuperar</title>
</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 seccion">
            <div class="modal-content">
                <div class="col-12 imagen-icono">
                    <!-- aqui se carga el icono de usuario -->
                    <img src="{% static 'img/icon.png' %}" alt="user" width=40%>
                </div>
                <form  style="color:white;" action="col-12">
                    <p style="margin-top: -40px;">Para recuperar su Contraseña ingrese su correo asociado</p>
                    <label for="">Ingrese su Correo Electronico</label>
                    <div class="form-group" id="usuario">
                        <input type="text" class="form-control" placeholder="Correo Electronico"><i class="fas fa-envelope ideses2"></i>
                    </div>
                    <a class="btn btn-warning" href="{% static 'html/login.html' %}" role="buttom" style="border-radius: 30px; margin-bottom: 10px;"><i class="fas fa-sign-in-alt"></i>Atras</a>
                    <a class="btn btn-success" href="#" role="buttom" style="border-radius: 30px; margin-bottom: 10px;"><i class="fas fa-sign-in-alt"></i>Evniar</a>
                </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>