<section class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center;"><b>&nbsp;&nbsp;Empresas</b></h2>
      <hr>
      <div class="container_table box-title table-responsive" style="width: 100%">

      <form metod="POST" class="form-horizontal well col-lg-12"style="text-align: center;width: 100%;">
        {% csrf_token %}
        <div class="form-row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="NombreUsuario">RUT Empresa</label>
          <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
            <div class="invalid-feedback">
              Ingrese el Nombre del Usuario
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="Contrasenia">Nombre Empresa</label>
          <input type="text" class="form-control" id="Contrasenia" name="Contrasenia" minlength="16" required>
            <div class="invalid-feedback">
              Ingrese la Contraseña a Asignar
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="NombreUsuario">Razon Social</label>
          <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
            <div class="invalid-feedback">
              Ingrese el Nombre del Usuario
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="NombreUsuario">Direccion</label>
          <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
            <div class="invalid-feedback">
              Ingrese el Nombre del Usuario
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="NombreUsuario">Telefono</label>
          <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
            <div class="invalid-feedback">
              Ingrese el Nombre del Usuario
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="NombreUsuario">Contacto Adicional</label>
          <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
            <div class="invalid-feedback">
              Ingrese el Contacto Adicional
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="NombreUsuario">Correo</label>
          <input type="email" class="form-control" id="NombreUsuario" name="NombreUsuario" required>
            <div class="invalid-feedback">
              Ingrese el Nombre del Usuario
            </div>
        </div>
        <div style="margin-top: 15px;" class="col-lg-12">
          <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-save"></i> Guardar</button>
          <button type="btn btn-secondary" name="btActualizar"  id="btActualizar" style="text-align:right;" class="btn btn-success" onclick="javascript:jsHabitacion.fuActualizar();"><i class="fa fa-floppy-save"></i> Actualizar</button>
          <button type="btn btn-danger" name="btEliminar"  id="btEliminar" style="text-align:right;" class="btn btn-danger" onclick="javascript:jsHabitacion.fuEliminar();"><i class="fa fa-floppy-save"></i> Eliminar</button>
        </div>
      </div>
      </form>
<!-- **************************************************************************-->
      <hr>
      <div class="container_table box-title table-responsive" style="width: 100%">
        <form class="form-horizontal well">
          <table class="table table-dark table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
              <tr>
                <th class="table-dark" scope="col"><p>ID Usuario</p></th>
                <th class="table-dark" scope="col"><p>Nombre Usuario</p></th>
                <th class="table-dark" scope="col"><p>Contraseña Usuario</p></th>
                <th class="table-dark" scope="col"><p>ID Tipo Usuario</p></th>
                <th class="table-dark" scope="col"><p>ID Estado Usuario</p></th>
              </tr>
            </thead>
            {% for usu in usua %}
            <thead>
              <tr>
                <th class="table-dark" scope="col"><p>{{ usua.id_usuario}}</p></th>
                <th class="table-dark" scope="col"><p>{{ usua.nombre_usuario}}</p></th>
                <th class="table-dark" scope="col"><p>{{ usua.passwd_usuario}}</p></th>
                <th class="table-dark" scope="col"><p>{{ usua.id_tipo_usuario}}</p></th>
                <th class="table-dark" scope="col"><p>{{ usua.id_estado_usuario}}</p></th>
              </tr>
            </thead>
            {% endfor %}
          </table>
        </form>
      </div>
<!-- **************************************************************************-->
    </div>    
    </div>
  </div>
</section>
